#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background: radial-gradient(
    circle,
    rgb(135, 207, 231),
    deepskyblue,
    rgb(12, 80, 103)
  );
  width: 100vw;
  height: 100vh;
}

.example {
  display: flex;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  list-style: none;
}

nav ul li {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.selections {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imageContainer {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 120px;
  margin: auto;
  background-color: antiquewhite;
}

.savePet {
  display: flex;
  justify-content: space-evenly;
}

.savePet ul {
    list-style: none;
}